<ul class="nospace group center">
    <li class="one_quarter first">
      <article><a href="/pages/puzzles.html"><i class="icon btmspace-30 fa fa-puzzle-piece"></i></a>
        <h6 class="heading">Puzzles</h6>
      </article>
    </li>
    <li class="one_quarter">
      <article><a href="/pages/trpgs.html"><i class="icon btmspace-30 fa fa-group"></i></a>
        <h6 class="heading">TRPGs</h6>
      </article>
    </li>
    <li class="one_quarter">
      <article><a href="/pages/videogames.html"><i class="icon btmspace-30 fa fa-gamepad"></i></a>
        <h6 class="heading">Videogames</h6>
      </article>
    </li>
    <li class="one_quarter">
      <article><a href="/pages/tools.html"><i class="icon btmspace-30 fa fa-wrench"></i></a>
        <h6 class="heading">Tools</h6>
      </article>
    </li>
  </ul>